<html>
<head>
	<link rel="stylesheet" type="text/css" href="/normalize.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<!-- tab testing -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script>
	function htmlConvert() {
		var url = document.getElementById("url").value;
		var title = document.getElementById("title").value;
		htmlOutput = "&lt;a href='" + url + "'/&gt" + title + "&lt/a&gt;"
		document.getElementById("hyper-link").innerHTML = htmlOutput;
	}
	</script>

</head>
<body>

	<div class='container'>
		<div class='row'>
			<div class='col-xs-1'></div>
			<div class='col-xs-9'>
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#link-shortener">link shortener</a></li>
					<li><a data-toggle="tab" href="#html-link">html link creator</a></li>
				</ul>
			</div>
			<div class='col-xs-2'></div>
		</div>
		<div class = "tab-content row main-box" >
			<div id='link-shortener'class="tab-pane fade in active">
				<div class="col-sm-5">
					<img src="too-short.png" class="img-responsive">
				</div>
				<div class="col-sm-7">
					<p class="lead">SAY GOODBYE TO THE LONG URL</p>
					<p class='lead pull-right'>and hello to TOO $HORT</p>
					<p class="lead">In a world of ridiculously long URLs, too short is here to help you. Reach your customers, followers, and friends with one short and clean link. Simply enter the destination URL and we will return a shorter link that will redirect to the original destination.</p>
					<div class="col-md-6">
						<form action="/create" method="post" >
							<div class='form-group'>
								<label>URL: </label>
							<input type="text" class="form-control" id="task_name" name="long_url_name">
						</div>
							<input type="submit" value="CONVERT" class='btn btn-success'>
						</form>
					</div>
					<div class="col-sm-6">
						<% if defined? short_url %>
						<p><%= short_url %></p>
						<% end %>
					</div>
				</div>
			</div>
			<div id='html-link'class="tab-pane fade">
				<div class="col-sm-5">
					<img src="tooshort2.png" class="img-responsive">
				</div>
				<div class="col-sm-7">
					<p class="lead">
						Quickly create an html hyperlink below by inputting your desired link destination and text.
					</p>
					<div class="col-md-6">
					<form>
						<div class='form-group'>
							<label>URL: </label>
							<input id="url" class="form-control" type="text">
						</div>
						<div class='form-group'>
							<label>TEXT LABEL: </label>
							<input id="title" class="form-control" type="text">
						</div>
						<div class='form-group'>
							<input type="button" class='btn btn-success text-center' value="CONVERT TO HTML" onclick="htmlConvert()">
						</div>
					</form>
				</div>
					<p id="hyper-link"></p>
				</div>
			</div>
		</div>





	</div> <!-- close container -->
</body>
</html>
